body{
    font-family: "poppins", sans-serif;
    margin: 0;
    background: #f7fafc;
    color: #333;
}
/* Header */
header{
    background: linear-gradient(90deg , #43A047,#2E7D32);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 50px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}
header h1{
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
}
nav a:hover{
    text-decoration: underline;
}
/* hero section */
.hero{
    background: url("waste.jpg")center/cover no-repeat;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}
.hero h2{
    font-size: 36px;
    margin-bottom: 10px;
}
.hero p{
    font-size: 18px;
    max-width: 700px;
}
/* container */
.container{
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
}
/* stats section */
.stats{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    margin-bottom: 40px;
}
.stat-card{
    background: white;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: 0.3s;
}
.stat-card:hover{
    transform: translateY(-5px);
}
.stat-card h3{
    font-size: 28px;
    margin: 10px 0;
    color: #2E7D32;
}
.stat-card p{
    font-size: 16px;
    color: #555;
}
/* Services Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}
.card {
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: 0.3s;
  text-align: left;
}
.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.card h3 { font-size: 20px; margin: 10px 0; color: #2E7D32; }
.card p { font-size: 15px; color: #555; }
.icon { font-size: 40px; margin-bottom: 10px; }

footer {
  text-align: center;
  padding: 15px;
  margin-top: 50px;
  background: #2E7D32;
  color: white;
}
.wasteBtn{
    padding: 6px;
    height: 35px;
    width: 130px;
    border-radius: 6px;
    border: 1px solid #555;
    background: #2E7D32;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.wasteBtn:hover { 
      background:#40916c; 
}